# Copyright 2022 Yucheng Liu. GNU GPL3 license.
# GNU GPL3 license copy: https://www.gnu.org/licenses/gpl-3.0.txt
# First added by username: liu-yucheng
# Last updated by username: liu-yucheng

matplotlib
numpy

--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio

MonkeyType
